@charset "utf-8";
body{
    margin:0;
    padding:0;
    font-family: "Microsoft Yahei";
}
/*homepage导航栏*/
.nav{
    flex: 0;
    flex: 0 0 4.3em;
    color: #676868;
    flex-direction: row;
    display: flex;
    align-items: center;
    /*下方灰色阴影*/
    webkit-box-shadow: 0 0 20px 0 #dedede;
    box-shadow: 0 0 20px 0 #dedede;
}
a{
    text-decoration: none;
    color: #ffffff;
}
#studying{
    width: 80px;
    padding:15px 105px 15px 15px;
}
#home60{
    width: 150px;
    margin-left: 500px;
    margin-top: 50px;
}
#title{
    margin: 0 auto;
}
.nav h3{
    font-weight: 400;
    margin: 0;
}
.header-icon.left{
    padding: 20px 5px 10px 10px;
    margin-top: 10px;
}
.header-icon{
    padding: 10px 5px 10px 10px;
    margin-top: 10px;
}

.header-icon.right{
    margin-top: 14px;
    padding-top: 20px;
}
.news-content{
    display: flex;
    flex-direction: row;
    font-size: 5px;
}
.news h2{
    margin-left: 10px;

}
.news-content img{
    padding: 10px 10px 10px 10px;
}

.news-block{
    width:250px;
    padding: 10px;

}

.news-block time{
    margin-left: 100px;
}
#nav-right{
    flex-direction: row;
    width: 200px;
    display: flex;
}

/*homepage中间蓝色段*/
.column{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 500px;
    background: #2b81a3;
    background: linear-gradient(-90deg,#2b81a3 0%, #3db1de 80%);
    background: -webkit-linear-gradient(-90deg,#2b81a3 0%, #3db1de 80%);
    background: -moz-linear-gradient(-90deg,#2b81a3 0%, #3db1de 80%);
}
.column img{
    margin: 50px auto;
}
.information{
    width:100%;

}
.information p{
    font-weight: 400;
    color: white;
    text-align: center;

}
.info{
    display: inline-flex;
    flex-direction: row;
    margin: 0 auto;

}
.info_block{
    width:200px;
    /*font-size: 2px;*/
    color: white;
    text-align: center;
    margin-top:30px;
}

/*上方图标及搜索框*/
.nav-bar{
    flex-direction: row;
    width: 100%;
    height: 100px;
}
#sort1{
    margin-left: 40px;
    margin-top: 20px;
    width:20px;
}
#sort2{
    margin-left: 20px;
    margin-top: 20px;
    width:20px;
}
/*可伸缩搜索框*/
.search-input{
    background: url(images/magnifier.png) no-repeat 9px;
    background-size: 15px;
    padding: 8px 5px 8px 32px;
    margin-top: -25px;
    margin-left: 200px;
    width: 70px;
    border-radius: 18px;
    color: #3db1de;
    float:left;
    outline: none;
    overflow:hidden;
    border-radius: 18px;
    border: 1.5px solid #3db1de;
    -moz-box-shadow: inset 1px 1px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 1px 1px 10px rgba(0,0,0,0.1);
    box-shadow: inset 1px 1px 10px rgba(0,0,0,0.1);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
}

.search-input:hover, .search-input:focus {
    border-color: #2b81a3;
    color: #2b81a3;
    width: 200px;
}
/*homepage课程部分*/
.main{
    display: flex;
    flex-direction: column;
}
.line{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.content{
    margin: 30px 80px;
    width:280px;
    height: 320px;
    border-radius: 5px;
    box-shadow: 0 0 20px 3px rgba(0,0,0,0.19);
    -webkit-box-shadow: 0 0 20px 3px rgba(0,0,0,0.19);
    -moz-box-shadow: 0 0 20px 3px rgba(0,0,0,0.19);
}
.block{
    overflow: hidden;
    width: 280px;
    height: 160px;
    border-radius: 5px 5px 0 0;
    /*background-color: #2ba7c3;*/

    /*border-radius: 6px;*/
    -webkit-transform:rotate(0deg);
    /*bug:父元素设置了overflow:hidden和border-radius，子元素超出部分不隐藏。用上面这条可debug*/
}
.block-info{
    padding: 5px 10px;
    width:100%;
}
.block-info h5{
     display:inline;
}
.block-info p{
    display:inline;
}
.block-info h3,h5{
    font-weight: 200;
}
.block-info p{
    font-size:0.5em;
    color: rgba(147, 147, 148, 0.45);
}
.block-info-whole{
    display: flex;
    flex-direction: row;
}
.block-info-left{
    width:140px;
}
#group{
    width: 20px;
    margin-top: 10px;
}
#comment{
    width: 15px;
    margin-left: 20px;
    margin-top: 10px;
}
hr{
    height: 50px;
    width: 1px;
    border: none;
    margin: 0 8px 0 30px;
    background-color: rgba(122, 122, 123, 0.48);
}
.block-info-right{
    width:80px;
    line-height: 1.2em;
    font-size:xx-small;
}
.block-info-right p{
    color: rgba(121, 121, 122, 0.48);

}
.item{
    display: flex;
}
.item__image {
    position: absolute;
    top: 50%;
    left: 0;
    min-height: 100%;
    width: 100%;
    opacity: 0.7;
    -webkit-transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1);
    transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.item:hover .item__image {
    opacity: 1;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

/*.item__title
{
    position: absolute;
    bottom: 0;
    margin: 10px;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

.item:hover .item__title {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}*/
.progress{
    width:100%;
    height:10px;
    background-color: #f2f2f2;
    border-radius: 15px;
    margin-top: 10px;
}
.progress .bar{
    width:70%;
    background: #2b81a3;
    background: linear-gradient(0deg,#2b81a3 0%, #3db1de 80%);
    background: -webkit-linear-gradient(0deg,#2b81a3 0%, #3db1de 80%);
    background: -moz-linear-gradient(0deg,#2b81a3 0%, #3db1de 80%);

}


