/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

ul, li{
	margin: 0;
	padding: 0;
	list-style: none;
	
}

.menu li {
	float: left;
	position: relative;
}

.menu li a {
	color: #ECF4F7;
	display: block;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 20px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
}

/* Dropdown styles */

.menu ul {
	position: absolute;
	left: -9999px;
	list-style: none;
	opacity: 0;
	transition: opacity 1s ease;
}

.menu ul li {
	float: none;
}

.menu ul a {
	white-space: nowrap;
}

/* Displays the dropdown on hover and moves back into position */
.menu li:hover ul {
	background: #ECF4F7;
	border-radius: 0 0 6px 6px;
	left: -24px;
	top:75px;
	opacity: 1;
}

/* Persistant Hover State */
.menu li:hover a {
	color: #969798;
}


.menu li:hover ul li a:hover {
	background-color:#ccd3d6;
	color: #555556;
    border-radius: 0 0 6px 6px;
}


